<launch>
	<!-- Select connecting device and serial port -->
	<arg name="port" default="/dev/ttyAMA0" />
	<arg name="baud" default="1000000" />

	<arg name="model" default="$(find mycobot_description)/mycobot_280pi/mycobot_urdf.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_280pi)/config/mycobot.rviz" />

	<!-- Load Robot urdf into parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
	<!-- Show in Rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

    <include file="$(find mycobot_control)/launch/communication_service.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>
	<!-- <node name="real_listener" pkg="mycobot_280pi" type="listen_real.py" /> -->
	<node name="pick_and_place" pkg="mycobot_280pi" type="pick_and_place.py" />
</launch>
